<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Play" rel="stylesheet">
    <title>Cowsay</title>
    <style>
        body{
            /*font-family: 'Play', sans-serif;*/
            font-family: 'Fira Sans Condensed', sans-serif;
        }
        .cowsay{
            /*font-family: 'Play', sans-serif;*/
            font-size:2em;
        }
    </style>
</head>
<body>
UI server name- <span class="card-header text-danger" th:text="${serverName}" /> Remote server name- <span class="card-header text-danger" th:text="${remoteServerName}" />
<div class="container">
    <div class="col-sm-12">
        <div class="card text-white bg-dark mb-3 border border-warning rounded shadow-lg mt-3">
            <div class="card-body">
                <h5 class="card-title bg-warning  p-2 text-dark" th:text=" 'Welcome '+${userName}" />
                <pre class="card-text text-light cowsay" th:text="${message}" />
            </div>
        </div>
    </div>
    <div class="alert alert-info" role="alert">
        This web application is to demonstration for kubernetes and  redis setup for redis High availability, to know more visit blog post <a href="https://spsarolkar.github.io/redis/high-availability/sentinel/kubernetes/2019/12/29/Configuring-Redis-High-Availability-Sentinel-Configuration.html" class="alert-link">Redis setup with kubernetes</a>. <i>***Developed by <a href="https://stackoverflow.com/users/138604/xinus">Sunil Sarolkar</a></i>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
